.boton{
    background: rgb(248, 63, 155) !important;
    border: none !important;
    box-shadow: none;
    border-radius: 25px !important;
    font-size: 12px !important;
    color: white !important;
    padding: 15px;
    width: 130px;
    margin: 15px;
}
.cabecera{
    background: orange; 
    height: 350px;
}

img{
    width: 400px;
    height: 400px;
}

h2{
    font-weight: 500 !important;
}